.header { position: fixed; top: 0; left: 0; right: 0; z-index: 99; padding: 20px 0; background-color: #ffffff; }

.header-toggler { display: none; }

.header-content { display: flex; justify-content: space-between; padding: 0 73px; }

.header-item { font-family: sans-serif; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.header-item:first-of-type { font-weight: 700; }

.header-item a { text-decoration: none; color: #4a4a4a; }

@media (max-width: 950px) { .header { max-width: 300px; height: 120vh; top: 0; left: -300px; transition: left .3s ease-in-out; }
  .header-content { flex-direction: column; }
  .header-item { margin-top: 20px; }
  .hamburger { position: fixed; top: 0; right: 0; z-index: 999; }
  .active { left: 0; } }

.wp { background: linear-gradient(rgba(0, 0, 0, 0.1), black); }

.hero { color: #ffffff; font-family: sans-serif; padding: 106px 0 180px; }

.hero-content { display: flex; justify-content: center; }

.hero-text-container { display: flex; align-items: center; flex-direction: column; }

.hero-title { font-weight: 700; font-size: 70px; text-shadow: 0 2px 12px rgba(0, 0, 0, 0.37); }

.hero-subtitle { font-size: 23px; margin-left: auto; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.21); color: white !important; text-decoration: none; }

.hero-subtitle:hover { text-decoration: underline; }

@media (max-width: 430px) { .hero-title { text-align: center; font-size: 45px; }
  .hero-subtitle { margin-left: 0; } }

.title { text-align: center; font-size: 24px; font-weight: 700; margin-bottom: 19px; color: #4a4a4a; }

.about-us { font-family: sans-serif; margin-top: -130px; color: #4a4a4a; }

.about-us-content { background-color: #ffffff; }

.about-us-container { padding: 35px 100px 21px; }

.about-us-title { margin-bottom: 22px; }

.about-us-info { margin-bottom: 20px; font-size: 14px; line-height: 20px; }

.about-us-info:last-of-type { font-weight: 600; text-align: center; }

.about-us-img-container { max-width: 100%; width: auto; height: 336px; }

.about-us-img { width: 100%; height: 100%; }

@media (max-width: 670px) { .about-us-container { text-align: center; padding: 35px 50px 21px; } }

.services { margin-top: 10px; font-family: sans-serif; }

.services-content { display: flex; justify-content: space-around; padding: 40px 32px 25px 35px; background-color: #ffffff; }

.services-title { text-align: left; }

.services-left { margin-right: 52px; max-width: calc(100% - 430px); }

.services-left-info { color: #4a4a4a; font-size: 18px; font-weight: 400px; margin-bottom: 20px; }

.services-left-extra-services { margin-bottom: 10px; color: #4a4a4a; font-size: 18px; font-weight: bold; }

.services-left-services { list-style-type: disc; list-style: inside; }

.services-left-item { color: #4a4a4a; font-size: 18px; }

.services-right { margin-top: 15px; width: 230px; height: 230px; border-radius: 24px; border: 1px solid #c8c8c8; }

.services-top-row, .services-bottom-row { margin-top: 45px; display: flex; justify-content: space-around; }

.services-top-row i, .services-bottom-row i { color: #4a4a4a; font-size: 47px; }

@media (max-width: 710px) { .services-content { flex-wrap: wrap; }
  .services-left { max-width: 450px; text-align: left; margin-bottom: 15px; margin-right: 0; } }

.prices { margin-top: 10px; font-family: sans-serif; }

.prices-img img { width: 356px; height: 282px; object-fit: cover; }

.prices-content { background-color: #ffffff; padding: 22px 32px 45px; }

.prices-main-container { display: flex; }

.prices-title { color: #4a4a4a; }

.prices-container { display: flex; justify-content: center; flex-direction: column; }

.prices-item { max-width: 80%; width: 100%; padding: 22px; text-align: center; border: 1px solid rgba(74, 74, 74, 0.3); }

.prices-item:last-of-type { margin-top: 20px; }

.prices-item-title { color: #d98429; font-size: 18px; font-weight: 700; margin-bottom: 16px; }

.prices-item-price { color: #4a4a4a; font-size: 18px; }

.prices-item-price:nth-of-type(2) { margin-top: 18px; }

.prices-bottom-info { margin-top: 15px; color: #4a4a4a; font-size: 14px; font-weight: 600; text-align: left; }

@media (max-width: 780px) { .prices-item { max-width: 100%; width: auto; flex-grow: 1; margin-bottom: 10px; }
  .prices-item-img { width: 100%; height: 233px; }
  .prices-main-container { justify-content: center; padding: 0; flex-wrap: wrap; }
  .prices-container { margin-bottom: 30px; } }

@media (max-width: 370px) { .prices-item-price { font-size: 14px; } }

.location { font-family: sans-serif; margin-top: 10px; padding-bottom: 10px; }

.location-right { padding-top: 20px; padding-left: 32px; }

.location-content { display: flex; justify-content: space-between; padding: 35px 32px 34px; background-color: #fff; }

.location-title { text-align: left; margin-bottom: 27px; }

.location-downway { color: #4a4a4a; font-size: 18px; margin-bottom: 20px; }

.location-street { color: #4a4a4a; font-size: 14px; margin-bottom: 15px; }

.city { font-weight: 700; }

.downway-name { color: #d98429; }

@media (max-width: 776px) { .location-content { flex-wrap: wrap-reverse; }
  .location-left, .location-right { flex-grow: 1; width: 100%; text-align: center; }
  .location-right { padding-left: 0; padding-right: 0; }
  .location-title { text-align: center; } }

@media (max-width: 465px) { .location-downway { font-size: 16px; }
  .location-street { font-size: 12px; }
  .location-map { width: 100%; } }

.footer { background-color: #fff; color: #4a4a4a; font-family: sans-serif; }

.footer-content { display: flex; justify-content: space-between; padding: 27px 17px 27px 69px; }

.footer-year, .footer-copyright { font-size: 14px; }

.footer-year { font-weight: 600; }

body { height: 100vh; overflow-x: hidden; }

main { margin-left: -1px; margin-right: -1px; background: url("../img/Bitmap.png"); background-size: contain; }

.wrapper { margin: 0 auto; max-width: 802px; }
