@import 'variables'

.title
   text-align: center   
   font-size: 24px
   font-weight: 700
   margin-bottom: 19px
   color: $main_color   

.about-us 
   font-family: $main_font
   margin-top: -130px
   color: #4a4a4a

   &-content
      background-color: #ffffff
      
   &-container
      padding: 35px 100px 21px

   &-title 
      margin-bottom: 22px
      

   &-info 
      margin-bottom: 20px
      font-size: 14px
      line-height: 20px
      &:last-of-type 
         font-weight: 600
         text-align: center

   &-img-container
      max-width: 100%
      width: auto
      height: 336px

   &-img 
      width: 100%
      height: 100%
      

@media (max-width: 670px)

   .about-us 
      &-container 
         text-align: center
         padding: 35px 50px 21px



