@import 'variables'

.footer 
   background-color: #fff
   color: $main_color   
   font-family: $main_font

   &-content 
      display: flex
      justify-content: space-between
      padding: 27px 17px 27px 69px

   &-year, &-copyright
      font-size: 14px

   &-year 
      font-weight: 600