@import 'variables'    


.header 
   position: fixed
   top: 0
   left: 0
   right: 0
   z-index: 99

   padding: 20px 0
   background-color: #ffffff

   &-toggler 
      display: none

   &-content 
      display: flex
      justify-content: space-between
      padding: 0 73px

   &-item 
      font-family: $main-font
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)

      &:first-of-type
         font-weight: 700

      a 
         text-decoration: none
         color: $main_color

@media (max-width: 950px) 
   .header
      max-width: 300px
      height: 120vh
      top: 0
      left: -300px
      transition: left .3s ease-in-out
      &-content
         flex-direction: column 

      &-item 
         margin-top: 20px

   .hamburger
      position: fixed
      top: 0
      right: 0
      z-index: 999

   .active 
      left: 0

         


   



   
      