@import 'variables'   
.wp 
  background: linear-gradient(rgba(0,0,0,.1), black)

.hero
   color: #ffffff
   font-family: $main_font 
   padding: 106px 0 180px
   &-content
      display: flex
      justify-content: center
   &-text-container
      display: flex
      align-items: center
      flex-direction: column
   &-title
      font-weight: 700
      font-size: 70px
      text-shadow: 0 2px 12px rgba(0, 0, 0, 0.37)
   &-subtitle
      font-size: 23px
      margin-left: auto
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.21)
      color: white !important
      text-decoration: none

      &:hover
         text-decoration: underline

@media (max-width: 430px)
   .hero 
      &-title 
         text-align: center
         font-size: 45px

      &-subtitle 
         margin-left: 0
   