@import 'variables'

.location 
   font-family: $main_font
   margin-top: 10px
   padding-bottom: 10px

   &-right 
      padding-top: 20px
      padding-left: 32px

   &-content 
      display: flex
      justify-content: space-between
      padding: 35px 32px 34px
      background-color: #fff

   &-title 
      text-align: left
      margin-bottom: 27px

   &-downway 
      color: $main_color
      font-size: 18px
      margin-bottom: 20px

   &-street
      color: $main_color
      font-size: 14px
      margin-bottom: 15px

.city 
   font-weight: 700

.downway-name 
   color: #d98429


@media (max-width: 776px)

   .location 
      &-content 
         flex-wrap: wrap-reverse

      &-left, &-right 
         flex-grow: 1
         width: 100%
         text-align: center

      &-right 
         padding-left: 0
         padding-right: 0

      &-title 
         text-align: center

@media (max-width: 465px)

   .location
      &-downway 
         font-size: 16px

      &-street 
         font-size: 12px
      
      &-map 
         width: 100%