@import 'variables'


.prices
   margin-top: 10px
   font-family: $main_font

   &-img 
      img 
         width: 356px
         height: 282px
         object-fit: cover

   &-content 
      background-color: #ffffff
      padding: 22px 32px 45px

   &-main-container
      display: flex

   &-title
      color: $main_color   

   &-container 
      display: flex
      justify-content: center
      flex-direction: column

   &-item  
      max-width: 80%
      width: 100%
      padding: 22px 
      text-align: center
      border: 1px solid rgba(74, 74, 74, .3)
      &:last-of-type 
         margin-top: 20px

      &-title 
         color: $second_color
         font-size: 18px
         font-weight: 700
         margin-bottom: 16px

      &-price 
         color: $main_color
         font-size: 18px
         &:nth-of-type(2)
            margin-top: 18px



   &-bottom-info
      margin-top: 15px
      color: $main_color
      font-size: 14px
      font-weight: 600
      text-align: left

@media (max-width: 780px)
   .prices
      &-item 
         max-width: 100%
         width: auto
         flex-grow: 1
         margin-bottom: 10px

         &-img 
            width: 100%
            height: 233px

      &-main-container
         justify-content: center
         padding: 0
         flex-wrap: wrap

      &-container 
         margin-bottom: 30px

@media (max-width: 370px)

   .prices-item-price
      font-size: 14px
