@import 'variables'

.services
   margin-top: 10px
   font-family: $main_font
   &-content 
      display: flex
      justify-content: space-around

      padding: 40px 32px 25px 35px
      background-color: #ffffff
   
   &-title 
      text-align: left

   &-left 
      margin-right: 52px
      max-width: calc(100% - 430px)
      &-info 
         color: $main_color
         font-size: 18px
         font-weight: 400px
         margin-bottom: 20px

      &-extra-services 
         margin-bottom: 10px
         color: $main_color
         font-size: 18px
         font-weight: bold
      
      &-services 
         list-style-type: disc
         list-style: inside

      &-item 
         color: $main_color 
         font-size: 18px 


   &-right
      margin-top: 15px
      width: 230px
      height: 230px
      border-radius: 24px
      border: 1px solid #c8c8c8

   &-top-row, &-bottom-row 
      margin-top: 45px
      display: flex
      justify-content: space-around
      

      i 
         color: $main_color
         font-size: 47px


      


@media (max-width: 710px)
   .services 
      &-content 
         flex-wrap: wrap
         

      &-left 
         max-width: 450px
         text-align: left
         margin-bottom: 15px
         margin-right: 0
