@import 'header'

@import 'hero'

@import 'about-us'

@import 'services'

@import 'prices'


@import 'location'

@import 'footer'

body 
   height: 100vh
   overflow-x: hidden
   
main 
   margin-left: -1px
   margin-right: -1px
   background: url('../img/Bitmap.png')
   background-size: contain;

.wrapper
   margin: 0 auto
   max-width: 802px  